.aboutme-container {
  margin: 5px;
  background-image: url("../../assets/Home/bg22.png");
  background-repeat: no-repeat;
}
.aboutme-parent {
  margin: 100px 250px;
  padding: 2px;
  background-color: white;
}
.aboutme-heading {
  margin: 10px;
}
.aboutme-heading h1 {
  text-align: center;
  color: orangered;
  font-weight: 700;
  font-size: 45px;
}
.aboutme-heading h6 {
  text-align: center;
  font-size: 15px;
  color: darkgray;
  letter-spacing: 3px;
  margin-top: 20px;
}

hr {
  display: block;
  margin: 5 auto;
  height: 5px;
  width: 80px;
  border: none;
  border-radius: 3px;
  border-left: 20px solid black;
  border-right: 20px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.aboutme-sec {
  margin: 50px 0;
  display: block;
  column-count: 2;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.aboutme-sec img {
  width: 525px;
  height: 560px;
}
.aboutme-sec p {
  text-align: justify;
  padding: 30px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
ul {
  list-style: none;
}
ul span {
  font-weight: 700;
}

ul li::before {
  content: "\2022";
  color: darkorange;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  font-size: 30px;
  align-items: center;
}

@media screen and (max-width:1500px)  {
  .aboutme-sec img {
  width: 350px;
  height: 365px;
  
}
.aboutme-container {
  margin: 2px;
  background-image: url("../../assets/Home/bg22.png");
  background-repeat: no-repeat;
}
.aboutme-parent {
  margin: 10px 250px;
  padding: 2px;
  background-color: white;
}
.aboutme-heading {
  margin: 5px;
}
.aboutme-heading h1 {
  text-align: center;
  color: orangered;
  font-weight: 700;
  font-size: 30px;
}
.aboutme-heading h6 {
  text-align: center;
  font-size: 10px;
  color: darkgray;
  letter-spacing: 2px;
  margin-top: 15px;
}
.aboutme-sec p {
  text-align: left;
  padding: 25px;
  font-weight: 300;
  font-size: 15px;
}
ul {
  list-style: none;
  font-size: 13px;
  line-height: 18px;
}
ul span {
  font-weight: 700;
  padding-bottom: 14px;
}
}

@media screen and (max-width:1140px)  {
  .aboutme-sec img {
  width: 350px;
  height: 360px;
  
}
.aboutme-container {
  margin: 2px;
  background-image: url("../../assets/Home/bg22.png");
  background-repeat: no-repeat;
}
.aboutme-parent {
  margin: 10px 25px;
  padding: 2px;
  background-color: white;
}
.aboutme-heading {
  margin: 5px;
}
.aboutme-heading h1 {
  text-align: center;
  color: orangered;
  font-weight: 700;
  font-size: 30px;
}
.aboutme-heading h6 {
  text-align: center;
  font-size: 10px;
  color: darkgray;
  letter-spacing: 2px;
  margin-top: 15px;
}
.aboutme-sec p {
  text-align: justify;
  padding-left: 35px;
  font-weight: 300;
  font-size: 13px;
}
ul {
  list-style: none;
  font-size: 10px;
  line-height: 14px;
}
ul span {
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 14px;
}
}
